<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="maximum-scale=1.0,minimum-scale=1.0,user-scalable=0,width=device-width,initial-scale=1.0" />
    <meta name="format-detection" content="telephone=no,email=no,date=no,address=no">
    <title>title</title>
    <link rel="stylesheet" type="text/css" href="../css/api.css" />
    <link rel="stylesheet" type="text/css" href="../css/aui.css" />
    <style>
        body {}
        .aui-list .aui-list-item-label, .aui-list .aui-list-item-label-icon{line-height: 2.7rem;}
        .save{width:96%;margin-left:2%;line-height:2.2rem;height:2.2rem;border-radius:0.2rem;background-color:#267df0;color:#fff;text-align:center;}
        .save:active{background-color: #0f6ae2}
        .aui-switch:checked{background-color:#267df0;border-color: #267df0;}
    </style>
</head>

<body>
    <div id="app">
        <div class="aui-content aui-margin-b-15">
            <ul class="aui-list aui-form-list">
                <li class="aui-list-item">
                    <div class="aui-list-item-inner">
                        <div class="aui-list-item-label">
                            收货人
                        </div>
                        <div class="aui-list-item-input">
                            <input type="text" placeholder="" v-model="consigneeName" id="consigneeName">
                        </div>
                        <div class="aui-list-item-label-icon">

                        </div>
                    </div>
                </li>
                <li class="aui-list-item">
                    <div class="aui-list-item-inner">
                        <div class="aui-list-item-label">
                            联系电话
                        </div>
                        <div class="aui-list-item-input">
                            <input type="tel" placeholder="" v-model="telephone" id="telephone">
                        </div>
                        <div class="aui-list-item-label-icon"  tapmode onclick="selectContacts()">
                            <i class="aui-iconfont aui-icon-right"></i>
                        </div>
                    </div>
                </li>
                <li class="aui-list-item" tapmode onclick="selectCity()">
                    <div class="aui-list-item-inner">
                        <div class="aui-list-item-label">
                            省市县
                        </div>
                        <div class="aui-list-item-input">
                            <span id="address" v-text="proCityCounty"></span>
                        </div>
                        <div class="aui-list-item-label-icon">
                            <i class="aui-iconfont aui-icon-right"></i>
                        </div>
                    </div>
                </li>
                <li class="aui-list-item" tapmode onclick="$api.goWindow('map_address_select_win')">
                    <div class="aui-list-item-inner">
                        <div class="aui-list-item-label">
                            街道/建筑
                        </div>
                        <div class="aui-list-item-input">
                            <span id="address" v-text="poi.name"></span>
                        </div>
                        <div class="aui-list-item-label-icon">
                            <i class="aui-iconfont aui-icon-right"></i>
                        </div>
                    </div>
                </li>
                <li class="aui-list-item">
                    <div class="aui-list-item-inner">
                        <div class="aui-list-item-label">
                            详细地址
                        </div>
                        <div class="aui-list-item-input">
                            <textarea placeholder="" v-model="detail"></textarea>
                        </div>
                        <div class="aui-list-item-label-icon">
                        </div>
                    </div>
                </li>
                <li class="aui-list-item">
                    <div class="aui-list-item-inner">
                        <div class="aui-list-item-label">
                            设为默认
                        </div>
                        <div class="aui-list-item-input">
                        </div>
                        <div class="aui-list-item-label">
                            <input type="checkbox" class="aui-switch" v-model="isDefault">
                        </div>
                    </div>
                </li>
            </ul>
        </div>
        <div class="save" tapmode onclick="save()">保存</div>
    </div>
</body>
<script type="text/javascript" src="../script/api.js"></script>
<script type="text/javascript" src="../script/vue.min.js"></script>
<script type="text/javascript" src="../script/fastclick.js"></script>
<script type="text/javascript">
    window.addEventListener('load', function() {
      FastClick.attach(document.body);
    }, false);
    var addressView;
    var userinfo = $api.getStorage('userinfo');
    var app = new Vue({
        el: '#app',
        data:{
            consigneeName:'', //收货人姓名
            telephone: '', //收货人联系电话
            cityInfo:[], //省市县信息
            poi:{}, //poii信息，经纬度
            detail:'',
            isDefault: true
        },
        methods:{

        },
        computed:{
            proCityCounty: function(){
                var str = ''
                this.cityInfo.forEach((item)=>{
                    str += item.name+' '
                });
                return str;
            }
        }
    })
    apiready = function() {
        api.parseTapmode();
        addressView = api.require("addressView");
        addEventListener();

        if(api.pageParam.address){
            var address = api.pageParam.address;
            app.consigneeName = address.consignee_name;
            app.telephone = address.mobile;
            app.poi.name = address.poi;
            app.poi.lat = address.lat;
            app.poi.lng = address.lng;
            app.detail = address.address;
            app.isDefault = address.is_default == 1? true: false;
            app.cityInfo = [
                {name:address.province,id:address.province_code},
                {name:address.city,id:address.city_code},
                {name:address.county,id:address.county_code}
            ];
        };
        openAddressView();

    };
    addEventListener = function(){
        api.addEventListener({
            name: 'selectPoi'
        }, function(ret, err){
            if( ret ){
                app.poi = ret.value.poi;
            }else{
                 alert( JSON.stringify( err ) );
            }
        });
    }

    openAddressView = function(){
        if(api.pageParam.address){
            addressView.open({
                file_addr: 'widget://res/city.txt', //数据源地址
                selected_color: '#ff0000',
                pro_id: api.pageParam.address.province_code || 110000, //省id
                city_id: api.pageParam.address.city_code || 110100, //市id
                dir_id: api.pageParam.address.county_code || 110101 //区id
            });
        }else{
            addressView.open({
                file_addr: 'widget://res/city.txt', //数据源地址
                selected_color: '#ff0000',
                pro_id: 110000, //省id
                city_id: 110100, //市id
                dir_id: 110101 //区id
            });
        }

    }

    selectContacts = function(){
        api.openContacts(function(ret, err){
            if(ret.status){
                 app.consigneeName = ret.name;
                 app.telephone = ret.phone;
            }else{
                alert(JSON.stringify(err))
            }
        });
    }

    selectCity = function(){
        addressView.show({}, function(ret, err) {
            if (ret.status) {
                app.cityInfo = ret.data;
            }
        });
    }
    save = function(){
        if(!app.consigneeName){
            api.toast({
                msg: '请填写收货人姓名',
                duration: 2000,
                location: 'middle'
            });
            $api.byId('consigneeName').focus();
            return;
        }
        if(!app.telephone){
            api.toast({
                msg: '请填写收货人联系电话',
                duration: 2000,
                location: 'middle'
            });
            $api.byId('telephone').focus();
            return;
        }
        if(app.cityInfo == []){
            api.toast({
                msg: '请选择省市县',
                duration: 2000,
                location: 'middle'
            });
            return;
        }
        if(!app.poi.name){
            api.toast({
                msg: '请选择周围街道/建筑',
                duration: 2000,
                location: 'middle'
            });
            return;
        }
        if(!app.detail){
            api.toast({
                msg: '请填写详细地址',
                duration: 2000,
                location: 'middle'
            });
            return;
        }

        if(api.pageParam.address){
            $api.ajax('PUT',$api.host + 'addresses/'+api.pageParam.address.id,{
                'consignee_name': app.consigneeName,
                'mobile': app.telephone.replace(/[^\d]/g,''),
                'province':app.cityInfo[0].name,
                'province_code': app.cityInfo[0].id,
                'city': app.cityInfo[1].name,
                'city_code': app.cityInfo[1].id,
                'county': app.cityInfo[2].name,
                'county_code': app.cityInfo[2].id,
                'address': app.detail,
                'is_default': app.isDefault? 1: 0,
                'lat': app.poi.lat,
                'lng': app.poi.lon,
                'poi': app.poi.name
            },function(ret){
                api.toast({
                    msg: ret.msg,
                    duration: 2000,
                    location: 'middle'
                });
                api.sendEvent({
                    name: 'address_frm_fresh',
                });
                setTimeout(function(){
                    api.closeWin();
                },500)

            },{
                token: userinfo.token.token
            })
        }else{
            $api.ajax('POST',$api.host + 'addresses',{
                'consignee_name': app.consigneeName,
                'mobile': app.telephone.replace(/[^\d]/g,''),
                'province':app.cityInfo[0].name,
                'province_code': app.cityInfo[0].id,
                'city': app.cityInfo[1].name,
                'city_code': app.cityInfo[1].id,
                'county': app.cityInfo[2].name,
                'county_code': app.cityInfo[2].id,
                'address': app.detail,
                'is_default': app.isDefault? 1: 0,
                'lat': app.poi.lat,
                'lng': app.poi.lon,
                'poi': app.poi.name
            },function(ret){
                api.toast({
                    msg: ret.msg,
                    duration: 2000,
                    location: 'middle'
                });
                api.sendEvent({
                    name: 'address_frm_fresh',
                });
                setTimeout(function(){
                    api.closeWin();
                },500)

            },{
                token: userinfo.token.token
            })
        }

    }
</script>

</html>
