<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="maximum-scale=1.0,minimum-scale=1.0,user-scalable=0,width=device-width,initial-scale=1.0" />
    <meta name="format-detection" content="telephone=no,email=no,date=no,address=no">
    <title>title</title>
    <link rel="stylesheet" type="text/css" href="../css/api.css" />
    <link rel="stylesheet" type="text/css" href="../css/aui.css" />
    <style>
        body {}
        .money{text-align: center;background-color: #fff;padding: 2rem 0rem 2rem 0rem}
        .content{padding: 1rem 0.8rem;background-color: #fff;}
        .content .line:after{display:block;content:"";clear:both;}
        .content .line div{display: inline-block;height: 2rem;line-height: 2rem;}
        .content .line .left{float: left;color: #999;}
        .content .line .right{float: right;color: #333}
    </style>
</head>

<body>
    <div id="app">
        <div class="money">
            <p style="color:#555;">金额(元)</p>
            <p style="font-size:2rem;color:#000;" v-text="asset.asset_type + asset.change_money"></p>
            <p style="color:#fca816;" v-if="asset.type == 'drawcash' && asset.status == 1">处理中</p>
            <p style="color:#fca816;" v-if="asset.type == 'drawcash' && asset.status == 3">未通过</p>
            <p style="color:#fca816;" v-if="asset.type == 'drawcash' && asset.status == 2">通过</p>
            <p style="color:#fca816;" v-if="asset.type != 'drawcash'">已完成</p>
        </div>
        <div class="content">
            <div class="line">
                <div class="left">说明</div>
                <div class="right" v-text="asset.intro"></div>
            </div>

            <div class="line" v-if="asset.order_no">
                <div class="left">订单号</div>
                <div class="right" v-text="asset.order_no"></div>
            </div>
            <div class="line">
                <div class="left">时间</div>
                <div class="right" v-text="asset.create_time"></div>
            </div>
        </div>
    </div>
</body>
<script type="text/javascript" src="../script/api.js"></script>
<script type="text/javascript" src="../script/vue.min.js"></script>
<script type="text/javascript">
    var app = new Vue({
        el: '#app',
        data:{
            asset:{}
        }
    })
    apiready = function() {

        app.asset = api.pageParam.asset
    };
</script>

</html>
