<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="maximum-scale=1.0,minimum-scale=1.0,user-scalable=0,width=device-width,initial-scale=1.0"/>
    <meta name="format-detection" content="telephone=no,email=no,date=no,address=no">
    <link rel="stylesheet" type="text/css" href="../css/aui.css" />
    <!-- <link rel="stylesheet" type="text/css" href="../css/api.css" /> -->
    <style>
        body {background-color: #fff;}
        /*.content{margin-top: 255px;}*/
        .aui-label-info{background-color: #358cff !important;}
        .content .goods {padding:0.3rem 0.6rem 0.3rem 0.6rem;}
        .content .goods .other:after{display:block;content:"";clear:both;}
        .content .goods .other{padding: 0.4rem 0rem;}
        .content .goods .other span{color:#bebebe;font-size: 0.7rem;}

        .content .nav{padding: 0rem 0.6rem;display:flex;border-bottom: 1px solid #f4f4f4;}
        .content .nav div{display: inline-block;width: 50%;text-align: center;color: #333;height:2rem;line-height: 2rem;}
        .content .nav div .active{border-bottom: 1px solid #358cff;padding:0rem 0.5rem 0.5rem 0.5rem;}
        .content .detail{padding: 0.5rem 0.6rem;}

        .content .comment{padding-top:0.5rem}
        .content .comment .img {width: 100%;padding-bottom: 1rem;}
        .content .comment .img img{max-width: 23%;border: 1px solid #f4f4f4;display: inline-block;}
        input,button,textarea {
        	border:0;
        	margin:0;
        	padding:0;
        	font-size:1em;
        	line-height:1em;
        	/*-webkit-appearance:none;*/
        	background-color:rgba(0, 0, 0, 0);
        }
        .aui-list-item-text img{ width:20%;}
    </style>
</head>

<body>
    <div class="content" id="content">
        <div style="height:0.3rem;background-color:#f4f4f4;width:100%;"></div>
        <div class="goods">
            <div class="price">
                <span style="color:#f63030;font-size:0.8rem;">￥</span>
                <span style="color:#f63030;font-size:1.5rem;" v-text="goods.price"></span>
                <!-- <span style="color:#a8a8a8;font-size:0.6rem;text-decoration:line-through">￥{{goods.price}}</span> -->
            </div>
            <div class="title">
                <!-- <div class="aui-label aui-label-info">包邮</div> -->
                <span v-text="goods.name"></span>
            </div>
            <div class="other">
                <span style="float:left;" v-text="'邮费:' + goods.freight_price"></span>
                <span style="float:right;" v-text="'销量:' + goods.sell_num"></span>
            </div>
        </div>
        <div style="height:0.3rem;background-color:#f4f4f4;width:100%;margin-top:0.2rem;"></div>
        <div class="nav">
            <div tapmode onclick="changeNav(0)"><span id="span0" class="active">详情</span></div>
            <div tapmode onclick="changeNav(1)"><span id="span1" >评价</span></div>
        </div>
        <div class="detail" id="sub0" v-html="goods.desc" >

        </div>
        <div class="comment" id="sub1" style="display:none">
            <div class="aui-content aui-margin-b-10" v-for="(comment,key) in comments" :key="key" style="border-bottom:1px solid #f4f4f4;">
                <ul class="aui-list aui-media-list" style="background-image:none;">
                    <li class="aui-list-item aui-list-item-middle" style="background-image:none;padding-right: 0.75rem;">
                        <div class="aui-media-list-item-inner">
                            <div class="aui-list-item-media" style="width:25%">
                                <img :src="comment.user_info.avatar" class="aui-img-round aui-list-img-sm" id="avatar">
                            </div>
                            <div class="aui-list-item-inner" style="width:40%;">
                                <div class="aui-list-item-text">
                                    <div class="aui-list-item-title aui-font-size-14" v-text="comment.user_info.nick_name || comment.user_info.mobile"></div>
                                </div>
                                <div class="aui-list-item-text aui-font-size-12" v-text="comment.create_time"></div>
                            </div>
                            <div class="aui-list-item-right" style="width:35%" >
                                <div class="aui-list-item-text" v-if="comment.score == 1">
                                    <img src="../image/star_light.png">
                                </div>
                                <div class="aui-list-item-text" v-else-if="comment.score == 2">
                                    <img src="../image/star_light.png">
                                    <img src="../image/star_light.png">
                                </div>
                                <div class="aui-list-item-text" v-else-if="comment.score == 3">
                                    <img src="../image/star_light.png">
                                    <img src="../image/star_light.png">
                                    <img src="../image/star_light.png">
                                </div>
                                <div class="aui-list-item-text" v-else-if="comment.score == 4">
                                    <img src="../image/star_light.png">
                                    <img src="../image/star_light.png">
                                    <img src="../image/star_light.png">
                                    <img src="../image/star_light.png">
                                </div>
                                <div class="aui-list-item-text" v-else-if="comment.score == 5">
                                    <img src="../image/star_light.png">
                                    <img src="../image/star_light.png">
                                    <img src="../image/star_light.png">
                                    <img src="../image/star_light.png">
                                    <img src="../image/star_light.png">
                                </div>
                            </div>
                        </div>
                    </li>
                </ul>
                <div class="comment-content" style="padding:0rem 0.75rem;font-size:0.7rem;color#333;" v-text="comment.content"></div>
                <div class="img" style="padding:0.5rem 0.75rem; ">
                    <img v-for="(img,index) in comment.imgs" :key="index" :src="img" @click="preview(comment.imgs,index)">
                </div>
            </div>
            <button style="text-align:center;font-size:0.7rem;color:#333;padding-bottom:0.5rem;width:100%;margin-top:1rem;" tapmode onclick="loadMoreComment()" id="more">加载更多</button>
        </div>
    </div>

</body>
<script type="text/javascript" src="../script/api.js"></script>
<script type="text/javascript" src="../script/vue.min.js"></script>
<script type="text/javascript">
    var app = new Vue({
        el: '#content',
        data:{
            comments:[],
            page:1,
            goods:{}
        },
        methods:{
            preview: function(imgs,index){
                photoBrowser.open({
                    images:imgs,
                    bgColor: '#000',
                    activeIndex: index
                }, function(ret, err) {
                    if (ret) {
                        if(ret.eventType == 'click'){
                            photoBrowser.close();
                        }
                    } else {
                        alert(err.msg || '错误');
                    }
                });
            }
        }
    });

    var uiScrollPictureModule;
    var photoBrowser;
    var scollPicture = [];

    apiready = function(){
        uiScrollPictureModule = api.require("UIScrollPicture");
        photoBrowser = api.require("photoBrowser");

        loadGoods();
        loadComments();

        $api.css($api.byId('content'), 'margin-top:' + api.frameWidth + 'px');
        api.openFrame({
            name: 'business_goods_detail_top_frm',
            url: './business_goods_detail_top_frm.html',
            rect: {
                x: 0,
                y: 0,
                w: 'auto',
                h: api.pageParam.headerPosH
            },
            pageParam: {
                name: 'test'
            },
            bounces: true,
            bgColor: 'rgba(255,255,255,0)',
            vScrollBarEnabled: false,
            hScrollBarEnabled: false
        });

    };
    loadGoods = function(){
        // console.log(api.pageParam.goodsId)
        $api.ajax('GET',$api.host + 'goods/' + api.pageParam.goodsId,{},function(ret){
            app.goods = ret.data;
            scollPicture = ret.data.imgs;
            loadScrollPicture();
        },{
            auth: $api.auth
        })
    }

    loadScrollPicture = function(){ uiScrollPictureModule.open({ rect: { h: api.frameWidth },placeholderImg: 'widget://image/timg.jpg',  data: { paths: scollPicture, }, styles: { indicator: { color: '#FFFFFF', activeColor: '#369eff' } }, interval: 3, fixedOn: api.frameName, fixed: false }); }

    changeNav = function(index){
        $api.addCls($api.byId('span' + index), 'active');
        $api.removeCls($api.byId('span' + (1-index)), 'active');

        $api.css($api.byId('sub'+index), 'display:block');
        $api.css($api.byId('sub'+(1-index)), 'display:none');

    }

    loadMoreComment = function(){
        loadComments();
    }

    loadComments = function(){
        $api.ajax('POST',$api.host + 'query/goods_comments',{
            goods_id: api.pageParam.goodsId
        },function(ret){
            if(ret.data.length != 0){
                app.page ++;
                ret.data.forEach(function(item){
                    app.comments.push(item);
                })
            }else{
                $api.text($api.byId('more'), ' ');
            }
        },{
            auth: $api.auth,
            'page-num':app.page,
            'page-limit':10
        })
    }

    buy = function(){
        if(app.goods){
            var goodsList = [];
            app.goods.num  = 1;
            goodsList.push(app.goods)
            $api.goWindow('order_confirm_business_win',{
                goodsList:goodsList
            })
        }else{
            api.toast({
                msg: '商品加载中,请稍后',
                duration: 2000,
                location: 'middle'
            });
        }
    }
</script>

</html>
