<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="maximum-scale=1.0,minimum-scale=1.0,user-scalable=0,width=device-width,initial-scale=1.0" />
    <meta name="format-detection" content="telephone=no,email=no,date=no,address=no">
    <title>title</title>
    <link rel="stylesheet" type="text/css" href="../css/api.css" />
    <link rel="stylesheet" type="text/css" href="../css/aui.css" />
    <style>
        body {padding-top: 0.5rem;background-color: #fff;}
        .bg{padding: 0rem 0.5rem;margin-bottom: 0.5rem;}
        .bg .vip{position: relative;padding-bottom: 0.5rem;}

        .bg .vip p{color:#fff;}
        .bg .vip .title{position:absolute;width:60%;text-align:center;top:7%;left:20%;font-size:0.8rem;}
        .bg .vip .rest{top:40%;left:8%;position: absolute;}
        .bg .vip .detail{width: 12%;position: absolute;top:50%;right: 10%;line-height: 1.5rem;height: 1.5rem;border-radius: 0.2rem;text-align: center;color: #fff;border:1px solid #fff;font-size: 0.7rem;}
        .bg .vip .detail:active{color: #999;}

    </style>
</head>
<body>
    <div id="app">
        <div class="bg">
            <div class="vip">
                <img v-if="key % 2 == 0" src="../image/member1.png" style="width:100%;">
                <img v-else src="../image/member2.png" style="width:100%;">
                <p class="title">会员卡<span style="font-size:0.7rem;" v-text="card.member_card_no"></span></p>
                <div class="rest">
                    <p style="font-size:0.6rem;">卡内余额</p>
                    <p style="font-size:1.5rem;" v-text="card.money"></p>
                    <p style="font-size:0.6rem;" v-text="'其中可线上购物资金' + card.usable_money + '元'"></p>
                </div>
            </div>
        </div>
        <div class="aui-content">
            <ul class="aui-list aui-media-list">
                <li class="aui-list-item aui-list-item-middle" style="padding:0.2rem 0rem;" v-for="(detail,key) in details" :key="key">
                    <div class="aui-media-list-item-inner">
                        <div class="aui-list-item-media" style="width: 1rem;"></div>
                        <div class="aui-list-item-inner" style="width:75%;">
                            <div class="aui-list-item-text aui-font-size-14" style="color:#333;" v-text="detail.desc"></div>
                            <div class="aui-list-item-text aui-font-size-12" style="color:#a5a5a5;" v-text="detail.create_time"></div>
                        </div>
                        <div class="aui-list-item-right">
                            <div class="aui-list-item-text aui-font-size-14" style="color:#000;font-weight:bold;" v-text="detail.asset_type + detail.change_money"></div>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</body>
<script type="text/javascript" src="../script/api.js"></script>
<script type="text/javascript" src="../script/vue.min.js"></script>
<script type="text/javascript">
    var userinfo = $api.getStorage('userinfo');
    var page = 1;
    var app = new Vue({
        el: '#app',
        data:{
            details: [],
            card:{},
            key:1
        }
    })

    apiready = function() {

        setRefresh();

        api.addEventListener({
            name: 'scrolltobottom',
            extra:{
                threshold: 30
            }
        }, function(ret, err){
            loadDetails();
        });

        loadDetails();
        app.key = api.pageParam.key
        app.card = api.pageParam.card;
    };
    setRefresh = function(){
        api.setRefreshHeaderInfo({
            bgColor: '#ccc',
            textColor: '#fff',
        }, function(ret, err){
            page = 1;
            app.details = [];
            loadDetails();
        })
    }

    loadDetails = function(){
        $api.ajax('POST', $api.host + 'assets/logs',{
            search_type: 'member_card',
            member_card_no: api.pageParam.card.member_card_no
        },function(ret){
            // console.log(JSON.stringify(ret))
            if(ret.data.length != 0){
                page ++;
                ret.data.forEach(function(item){
                    app.details.push(item)
                })
            }
        },{
            token: userinfo.token.token,
            'page-num': page,
            'page-limit': 20
        });
    }
</script>

</html>
