<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="maximum-scale=1.0,minimum-scale=1.0,user-scalable=0,width=device-width,initial-scale=1.0"/>
    <meta name="format-detection" content="telephone=no,email=no,date=no,address=no">
    <link rel="stylesheet" type="text/css" href="../css/api.css" />
    <link rel="stylesheet" type="text/css" href="../css/aui.css" />
    <style>
        body {}
        .order{padding: 0.5rem;background-color: #fff;}
        .order .goods{display: flex;background-color: #f7f7f7;}
        .order .goods .thum{width: 30%;padding: 0.5rem 0.5rem;align-items: center;}
        .order .goods .thum img{width: 100%;}
        .order .goods .other{width: 70%;padding: 0.5rem 0.5rem 0.5rem 0.3rem;;}
        .order .goods .other .title{}
        .order .goods .other .desc{font-size: 0.6rem;color:#777;}
        .order .goods .other .price{color:#fe4545;margin-top: 1rem;}
        .order .goods .other .price:after{display:block;content:"";clear:both;}

        .order .line:after{display:block;content:"";clear:both;}
        .order .line .left{float: left;display: inline-block;color: #777;font-size: 0.75rem;height: 2rem;line-height: 2rem;}
        .order .line .right{float: right;color: #777;font-size: 0.75rem;height: 2rem;line-height: 2rem;}
        .community-dispat-way .way{height: 2.5rem;display: flex;}
        .community-dispat-way .way div{display: inline-block;width: 50%;background-color: #c6c4c4;color: #fff;text-align: center;line-height: 2.5rem;}
        .community-dispat-way .way .active{background:linear-gradient(to bottom,#41c4da,#34a3e4,#2680ef);}
        .community-dispat-way .hidden{display: none;}

        .aui-tips{background-color: #fffebe;color:#333}
    </style>
</head>

<body>
    <div id="app">
        <div class="community-dispat-way">
            <div class="way">
                <div v-bind:class="{active:(!isSelfPick)}" tapmode @click="changePick(false)" >骑手派送</div>
                <div v-bind:class="{active:(isSelfPick)}" tapmode @click="changePick(true)" >到店自提</div>
            </div>
            <div style="height:0.5rem;background-color:#f7f7f7;width:100%;"></div>
            <div class="aui-content" v-show="!isSelfPick" >
                <!-- <div class="aui-tips">
                    <i class="aui-iconfont aui-icon-info" style="width:3%;"></i>
                    <div class="aui-tips-title aui-ellipsis-1" style="width:97%;">您第一次在此店使用该地址,下单后需等待商家确认是否可以送达</div>
                </div> -->
                <ul class="aui-list aui-media-list" style="background-image:none;" v-if="address">
                    <li class="aui-list-item aui-list-item-middle" tapmode @click="selectAddress(address)">
                        <div class="aui-media-list-item-inner">
                            <div class="aui-list-item-media" style="width: 2rem;">
                                <img src="../image/location_blue.png" class="aui-img-round aui-list-img-sm">
                            </div>
                            <!-- <div class="aui-list-item-inner aui-list-item-arrow" v-if="!address">
                                    请选择地址
                            </div> -->
                            <div class="aui-list-item-inner aui-list-item-arrow" >
                                <div class="aui-list-item-text">
                                    <div class="aui-list-item-title aui-font-size-16" style="font-weight:bold;" v-text="address.province + address.city + address.county + address.address">
                                        <!-- <div class="aui-label aui-label-info">未认证</div> -->
                                    </div>
                                </div>
                                <div class="aui-list-item-text" style="margin-top:0.5rem;">
                                    {{address.consignee_name}}
                                    <div class="aui-list-item-text" v-text="address.mobile"></div>
                                    <div class="aui-list-item-text"></div>
                                </div>
                            </div>
                        </div>
                    </li>
                </ul>
                <div style="display:flex;align-items:center;height:4.5rem;text-align:center;background-color:#fff;" v-if="!address">
                    <img src="../image/add_address.png" style="width:6rem;margin:0 auto;" tapmode @click="selectAddress(address)">
                </div>
            </div>
            <div class="aui-content " v-show="isSelfPick" >
                <ul class="aui-list aui-media-list">
                    <li class="aui-list-item aui-list-item-middle" >
                        <div class="aui-media-list-item-inner">
                            <div class="aui-list-item-media" style="width: 2rem;">
                                <img src="../image/location_blue.png" class="aui-img-round aui-list-img-sm">
                            </div>
                            <div class="aui-list-item-inner aui-list-item-arrow" tapmode onclick="map()">
                                <div class="aui-list-item-text">
                                    <div class="aui-list-item-title aui-font-size-16" style="font-weight:bold;" v-text="shop.address"></div>
                                </div>
                                <div class="aui-list-item-text" style="margin-top:0.5rem;">
                                    <div class="aui-list-item-title aui-font-size-16" v-text="shop.name"></div>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li class="aui-list-item aui-list-item-middle">
                        <div class="aui-media-list-item-inner">
                            <div class="aui-list-item-media" style="width: 2rem;">
                                <img src="../image/tel_blue.png" class="aui-img-round aui-list-img-sm">
                            </div>
                            <div class="aui-list-item-inner aui-list-item-arrow" tapmode onclick="call()">
                                <div class="aui-list-item-text" tapmode onclick="">
                                    <div class="aui-list-item-title aui-font-size-16" style="font-weight:bold;">商家电话:<span v-text="shop.mobile"></span></div>
                                </div>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
            <div style="height:0.5rem;background-color:#f7f7f7;width:100%;"></div>
        </div>

        <div class="order">
            <div class="goodslist" v-for="(goods,key) in goodsList" :key="key">
                <div class="goods">
                    <div class="thum">
                        <img :src="goods.thum">
                    </div>
                    <div class="other">
                        <div class="title" v-text="goods.name"></div>
                        <div class="desc" v-text="goods.intro"></div>
                        <div class="price">
                            <span v-text="'￥' + goods.price"></span><span style="float:right;color:#555;" v-text="'x' + goods.num"></span>
                        </div>
                    </div>
                </div>
                <div style="height:0.5rem;background-color:#fff;width:100%;"></div>
            </div>
            <!-- <div class="line">
                <div class="left">购买数量:</div>
                <div class="right" style="display:flex;padding:0.5rem 0rem;">
                    <img src="../image/jian_blue.png" style="width:1rem;display:inline-block;">
                    <span style="line-height:1rem;padding:0rem 0.5rem;">1</span>
                    <img src="../image/jia_blue.png" style="width:1rem;display:inline-block;">
                </div>
            </div> -->
            <div class="line">
                <div  class="left">配送费用:</div>
                <div class="right" v-text="expressPrice"></div>
            </div>
            <!-- <div class="line">
                <div class="left">新品优惠:</div>
                <div class="right">-3.00</div>
            </div> -->
            <div class="line">
                <div  class="left">买家留言:</div>
                <div class="right">
                    <textarea name="name" rows="18" cols="80" style="border:1px solid #f7f7f7;height:5rem;" id="message"></textarea>
                </div>
            </div>
        </div>
    </div>
</body>
<script type="text/javascript" src="../script/api.js"></script>
<script type="text/javascript" src="../script/vue.min.js"></script>
<script type="text/javascript" src="../script/fastclick.js"></script>
<script type="text/javascript">
    window.addEventListener('load', function() {
      FastClick.attach(document.body);
    }, false);
    var userinfo = $api.getStorage('userinfo');

    var app = new Vue({
        el: '#app',
        data:{
            type:'',
            isSelfPick:false,
            address: false,
            goodsList:[],
            shop: {}
        },
        methods:{
            changePick : function(isSelfPick){
                this.isSelfPick = isSelfPick;
            },
            selectAddress: function(type){
                $api.goWindow('address_win',{shopId: api.pageParam.shop.id})
            }
        },
        computed:{
            expressPrice: function(){
                var ePrice = 0
                this.goodsList.forEach(function(item){
                    ePrice += item.freight_price * 1
                })
                return ePrice;
            }
        }
    })
    apiready = function() {
        api.parseTapmode();
        app.goodsList = api.pageParam.goodsList;
        app.shop = api.pageParam.shop;

        addEventListener();
    };

    addEventListener = function(){
        api.addEventListener({
            name: 'order_confirm_community_frm_address'
        }, function(ret, err){
            if( ret ){
                 app.address = ret.value.address
            }else{
                 alert( JSON.stringify( err ) );
            }
        });
    }

    submit = function(){
        if(!time){
            var time = new Date().getTime();
        }else{
            if(new Date().getTime() - time < 2000){
                return;
                time = new Date().getTime();
            }
        }
        if(!app.isSelfPick && !app.address){
            api.toast({
                msg: '请先选择地址',
                duration: 2000,
                location: 'middle'
            });
            return;
        }
        var goodsInfo = [];
        app.goodsList.forEach(function(item){
            goodsInfo.push({
                goods_id: item.id,
                num: item.num || 1
            })
        })
        $api.ajax('POST',$api.host + 'orders',{
            shop_id: app.shop.id,
            delivery_way: app.isSelfPick? 2:1,
            address_id: app.isSelfPick? 0:app.address.id,
            goods_info: JSON.stringify(goodsInfo),
            memo: $api.val($api.byId('message'))
        },function(ret){
            api.toast({
                msg: ret.msg,
                duration: 2000,
                location: 'bottom'
            });
            setTimeout(function(){
                $api.goWindow('pay_select_win',{
                    order:ret.data
                })
            },500)

        },{
            token: userinfo.token.token
        })
    }

    call = function(){
        api.call({
            type: 'tel_prompt',
            number: app.shop.mobile
        });
    }
    map = function(){
        $api.goWindow('map_win',{
            lat: app.shop.lat,
            lng: app.shop.lng
        })
    }
</script>

</html>
