<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="maximum-scale=1.0,minimum-scale=1.0,user-scalable=0,width=device-width,initial-scale=1.0" />
    <meta name="format-detection" content="telephone=no,email=no,date=no,address=no">
    <title>title</title>
    <link rel="stylesheet" type="text/css" href="../css/api.css" />
    <link rel="stylesheet" type="text/css" href="../css/aui.css" />
    <style>
        body {}
        .order{border-bottom: 0.5rem solid #f4f4f4;padding: 0rem 0.4rem;background-color: #fff;}
        .order .title{padding: 0.5rem 0rem;font-size: 0.75rem;}
        .order .title:after{display:block;content:"";clear:both;}
        .order .title .time{float: left;color: #999;}
        .order .title .status{float: right;color: #999;}

        .order .goodslist{background-color: #f4f4f4;display: flex;margin-bottom: 0.5rem;}
        .order .goodslist .thum{width: 22%;height: 100%;padding: 0.4rem 0.3rem;}
        .order .goodslist .thum img{max-width: 100%;vertical-align: middle;}
        .order .goodslist .text{width: 53%;padding-top: 0.4rem;padding-bottom: 0.5rem;}
        .order .goodslist .text .name{font-size: 0.75rem;color:#333;}
        .order .goodslist .text .desc{font-size: 0.6rem;color:#777;}
        .order .goodslist .other{padding-top: 0.4rem;width: 23%;padding-bottom: 0.5rem;}
        .order .goodslist .other .price{color:#df0303;text-align: right;font-size: 0.7rem;}
        .order .goodslist .other .num{color:#555;text-align: right;font-size: 0.7rem;}
        .order .goodslist .other .after{font-size: 0.75rem;height:1.5rem;line-height: 1.5rem;border-radius: 1.5rem;background-color: #fff;text-align: center;border: 1px solid #c3c3c3; max-width: 100%;width: 5rem;color:#555;display: inline-block;}

        .order .total-price{font-size: 0.7rem;text-align: right;color: #999;padding-bottom: 0.5rem;border-bottom: 1px solid #f4f4f4;}
        .order .button{text-align: right;margin-top: 0.5rem;padding-bottom: 0.5rem;}
        .order .button div{font-size: 0.7rem;height:1.5rem;line-height: 1.5rem;border-radius: 1.5rem;text-align: center;border: 1px solid #c3c3c3; color:#555;max-width: 26%;width:5rem;display: inline-block;}
        .order .button .blue{color:#358cff;border-color:#358cff}

    </style>
</head>

<body>

    <section  class="aui-content" id="app">
        <!-- <div v-if="isNoNet">
            <img src="../image/loading.gif" style="width:50%;display:inline">
        </div> -->
        <div v-if="isNoOrder" style="text-align:center;background-color:#fff;padding-top:5rem;">
            <img src="../image/no_order.png" style="width:50%;display:inline">
            <!-- <img src="../image/loading.gif" style="width:50%;display:inline"> -->
        </div>
        <!-- <div style="background-color:#f4f4f4;height:0.5rem;width:100%;"></div> -->
        <div v-else class="order" tapmode @click="goOrderDetail(order);" v-for="(order,key) in orders" :key="key">
            <div class="title" v-if="order.delivery_way == 0">
                <span class="time" v-text="order.create_time"></span>
                <span class="status" v-if="order.status == 1">待付款</span>
                <span class="status" v-else-if="order.status == 2">待发货</span>
                <span class="status" v-else-if="order.status == 3">待签收</span>
                <span class="status" v-else-if="order.status == 4">待评价</span>
                <span class="status" v-else-if="order.status == 5">已完成</span>
                <span class="status" v-else-if="order.status == 9">已取消</span>
            </div>
            <div class="title" v-if="order.delivery_way == 1">
                <span class="time" v-text="order.create_time"></span>
                <span class="status" v-if="order.status == 1">待付款</span>
                <span class="status" v-else-if="order.status == 2">待配送</span>
                <span class="status" v-else-if="order.status == 3">待收货</span>
                <span class="status" v-else-if="order.status == 4">待评价</span>
                <span class="status" v-else-if="order.status == 5">已完成</span>
                <span class="status" v-else-if="order.status == 9">已取消</span>
            </div>
            <div class="title" v-if="order.delivery_way == 2">
                <span class="time" v-text="order.create_time"></span>
                <span class="status" v-if="order.status == 1">待付款</span>
                <span class="status" v-else-if="order.status == 2">待自提</span>
                <span class="status" v-else-if="order.status == 3">待签收</span>
                <span class="status" v-else-if="order.status == 4">待评价</span>
                <span class="status" v-else-if="order.status == 5">已完成</span>
                <span class="status" v-else-if="order.status == 9">已取消</span>
            </div>
            <div class="goodslist" v-for="(goods,index) in order.goods_info" :key="index">
                <div class="thum">
                    <img :src="goods.thum">
                </div>
                <div class="text">
                    <div class="name" v-text="goods.name"></div>
                    <div class="desc" v-text="goods.intro"></div>
                </div>
                <div class="other">
                    <div class="price">￥<span v-text="goods.price"></span></div>
                    <div class="num">x <span v-text="goods.num"></span></div>
                    <div class="after" v-if="order.status == 4 && goods.is_comment == 0" @click.stop="commentOrder(goods)" >评价</div>
                </div>
            </div>
            <div class="total-price">共<span v-text="order.goods_info.length"></span>件商品&nbsp;合计:<span style="color:#df0303">￥<span v-text="order.total_money"></span></span>&nbsp;(含运费:￥ <span v-text="order.freight_money"></span>)</div>
            <div class="button" v-if="order.shop_id == 0">
                <div v-if="order.status == 1" @click.stop="cancelOrder(order)">取消订单</div>
                <div v-if="order.status == 1" @click.stop="pay(order)" class="blue" >立即付款</div>
                <div v-if="order.status == 2" @click.stop="remindSend()">提醒发货</div>
                <div v-if="order.status==3" @click.stop="goLogistics(order)" class="blue" >查看物流</div>
                <div v-if="order.status==3" @click.stop="receiptOrder(order)"  class="blue">确认收货</div>
            </div>
            <div class="button" v-if="order.shop_id != 0" style="font-size:0.7rem;">
                <a v-if="order.delivery_way == 1" style="display:inline">
                    <div v-if="order.status == 1"  @click.stop="cancelOrder(order)">取消订单</div>
                    <div v-if="order.status == 1" @click.stop="pay(order)" class="blue" >立即付款</div>
                    <div v-if="order.status == 2" @click.stop="remindSend()">提醒配送</div>
                    <div v-if="order.status == 3">配送中</div>
                    <div v-if="order.status == 3" @click.stop="receiptOrder(order)"  class="blue" >确认收货</div>
                </a>
                <a v-if="order.delivery_way == 2" style="display:inline">
                    <div v-if="order.status == 1"  @click.stop="cancelOrder(order)">取消订单</div>
                    <div v-if="order.status == 1"  @click.stop="pay(order)" class="blue" >立即付款</div>
                    <div v-if="order.status == 3" @click.stop="receiptOrder(order)"  class="blue" >确认提货</div>
                </a>
            </div>
        </div>

    </section>
</body>
<script type="text/javascript" src="../script/api.js"></script>
<script type="text/javascript" src="../script/vue.min.js"></script>
<script type="text/javascript" src="../script/fastclick.js"></script>
<script type="text/javascript">
    window.addEventListener('load', function() {
      FastClick.attach(document.body);
    }, false);
    var page = 1;
    var userinfo = $api.getStorage('userinfo');
    var app = new Vue({
        el: '#app',
        data:{
            orders:[],
            isNoOrder:false
        },
        methods:{
            goOrderDetail: function(order){
                $api.goWindow('order_detail_win',{
                    order:order
                })
            },
            cancelOrder: function(order){
                api.confirm({
                    title: '确定取消订单吗',
                    buttons: ['确定', '取消']
                }, function(ret, err){
                    if( ret ){
                         if(ret.buttonIndex == 1){
                             $api.ajax('POST',$api.host + 'orders/cancel',{
                                 order_id:order.id
                             },function(ret){
                                 api.toast({
                                     msg: ret.msg,
                                     duration: 2000,
                                     location: 'middle'
                                 });
                                api.sendEvent({
                                    name: 'order_frm_refreshOrder',
                                });
                             },{
                                 token: userinfo.token.token
                             })
                         }
                    }else{
                         alert( JSON.stringify( err ) );
                    }
                });
            },
            pay: function(order){
                $api.goWindow('pay_select_win',{order:order})
            },
            remindSend: function(){
                api.toast({
                    msg: '已提醒卖家尽快发货',
                    duration: 2000,
                    location: 'middle'
                });
            },
            receiptOrder: function(order){
                api.confirm({
                    title: '确认收货?',
                    buttons: ['确定', '取消']
                }, function(ret, err){
                    if( ret ){
                         if(ret.buttonIndex == 1){
                             $api.ajax('POST',$api.host + 'orders/receipt',{
                                 order_id: order.id
                             },function(ret){
                                api.toast({
                                    msg: ret.msg,
                                    duration: 2000,
                                    location: 'middle'
                                });
                                api.sendEvent({
                                    name: 'order_frm_refreshOrder',
                                });
                             },{
                                 token: userinfo.token.token
                             })
                         }
                    }else{
                         alert( JSON.stringify( err ) );
                    }
                });
            },
            commentOrder:function(goods){
                $api.goWindow('comment_add_win',{goods: goods})
            },
            goLogistics: function(order){
                $api.goWindow('logistics_win',{
                    order: order
                })
            }
        }
    })
    apiready = function() {
        api.parseTapmode();

        setRefresh();
        addEventListener();
        loadOrders();
    };
    setRefresh = function(){
        api.setRefreshHeaderInfo({
            bgColor: '#f4f4f4',
            textColor: '#fff',
        }, function(ret, err){
            app.orders = [];
            page = 1;
            loadOrders();
        });
    }
    addEventListener = function(){
        api.addEventListener({
            name: 'scrolltobottom',
            extra:{
                threshold:20
            }
        }, function(ret, err){
            loadOrders()
        });

        api.addEventListener({
            name: 'order_frm_refreshOrder'
        }, function(ret, err){
            app.orders = [];
            page = 1;
            loadOrders();
        });

    }

    loadOrders = function(){

        $api.ajax('POST', $api.host + 'orders/lists', {
            status: api.pageParam.status
        },function(ret){
            if(ret.data.length != 0){
                page ++;
                ret.data.forEach(function(item){
                    app.orders.push(item);
                });
                app.isNoOrder = false;
            }else if(page == 1){
                app.isNoOrder = true;
            }
        },{
            token: userinfo.token.token,
            'page-num': page,
            'page-limit':10
        })
    }
    call = function(){
        api.call({
            type: 'tel_prompt',
            number: app.order.mobile
        });
    }
    map = function(){
        $api.goWindow('map_win',{
            lat: app.shop.lat,
            lng: app.shop.lng
        })
    }
</script>

</html>
